<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "br.com.cemig.ras2015en"
        versionCode = "1" 
        version     = "1.0" >


    <name>RAS Cemig</name>

    <description>
        RAS CEMIG 2015
    </description>

    <author href="http://www.prefil252.com" email="">
        Perfil 252
    </author>

    <icon src="icon.png" />


    <!-- iPhone and iPod touch -->
    <gap:splash src="splash/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="splash/Default@2x.png" gap:platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <gap:splash src="splash/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

    <!-- iPhone 6 -->
    <gap:splash src="splash/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
    <gap:splash src="splash/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
    <gap:splash src="splash/Default-Landscape-736h@3x.png" gap:platform="ios" width="2208" height="1242" />

    <!-- iPad -->
    <gap:splash src="splash/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="splash/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />

    <!-- Retina iPad -->
    <gap:splash src="splash/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
    <gap:splash src="splash/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />



    <preference name="orientation" value="landscape" />
    <preference name="prerendered-icon" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <gap:plugin name="com.jaeger.html5video" version="1.2.1" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />

    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
    <preference name="StatusBarBackgroundColor" value="#000000" />

    <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*"/>


</widget>